@model PDI.NetCoreDemos.Models.VCardDto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VCardDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Suffix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SortString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SortString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormattedName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormattedName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Units)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Units)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastRevision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastRevision)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
